<div class="col-md-12 slogon">
    <marquee direction=""><p><span style="font-weight: 500;">Famposo Slogan:-</span> Global Portal to unlock the wealth in Rural Markets</p>
    </marquee>
  </div>
   <div class="row">
      <div class="col-md-3">
        <div class="wrapper">
          <div class="carousel">
            <div class="inner">
              <div class="slide active">
              </div>
              <div class="slide">
              </div>
              <div class="slide">
              </div>
            </div>
              <div class="arrow arrow-left"></div>
              <div class="arrow arrow-right"></div>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <div class="wrapper1">
          <div class="carousel1">
            <div class="inner1">
              <div class="slide1 active1">
              </div>
              <div class="slide1">
              </div>
              <div class="slide1">
              </div>
              <div class="slide1">
              </div>
              <div class="slide1">
              </div>
              <div class="slide1">
              </div>
              <div class="slide1">
              </div>
              <div class="slide1">
              </div>
            </div>
              <div class="arrow1 arrow-left1"></div>
              <div class="arrow1 arrow-right1"></div>
          </div>
        </div>
      </div>
  </div>
  <div class="row pt-2 tb-1">
    <div class="col-md-12">
      <div class="block-policy">
        <ul>
           <li class="item-1">
              <a class="item-inner1">       
              <div class="content1">
                 <b>Create your Need</b>
                 <span>From FAMPOSO</span>
              </div>
              </a>
           </li>
           <li class="item-2">
              <a class="item-inner1">
              <div class="content1">
                 <b>Money Guarantee</b>
                 <span>30 days back</span>
              </div> 
              </a>
           </li>
           <li class="item-3">
              <a class="item-inner1">       
              <div class="content1">
                 <b>Payment Method</b>
                 <span>Secure System</span>
              </div>
              </a>
           </li>
           <li class="item-4">
              <a class="item-inner1">       
              <div class="content1">
                 <b>Online Support</b>
                 <span>24 hours on day</span>
              </div>
              </a>
           </li>
           <li class="item-5">
              <a class="item-inner1">        
              <div class="content1">
                 <b>100% Safe</b>
                 <span>Secure shopping</span>
              </div>
              </a>
           </li>
        </ul>
      </div>
    </div>
  </div>
<section class="container">
  <div class="left-half">
   <div class="our-famposo text-center">
   <p class="title">OUR FAMPOSO</p>
   <p class="title1" >Will Connect You</p>
    <img class="our-famposo-img" src="assets/images/body-side/famposo.jpg" height="200" width="400">
   </div>
   <div class="card rfq-form">
    <div class="card-header text-center rfq-header"><h6>Post to FAMPOSO SME Your Buying Renting Needs/Request for Quote</h6></div>
    <div class="card-body">
       <form [formGroup]="RfqFormMain">
          <div class="row">
    <div class="col-12 rfq-radio text-center">
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio"  formControlName="rfqtype" id="customRadioInline1"  value="BUY" class="custom-control-input">
        <label class="custom-control-label" for="customRadioInline1">Buy</label>
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio"  formControlName="rfqtype" id="customRadioInline2" value="RENT"  class="custom-control-input">
        <label class="custom-control-label" for="customRadioInline2">Rent</label>
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" formControlName="rfqtype" id="customRadioInline3" value="OPS"  class="custom-control-input">
        <label class="custom-control-label" for="customRadioInline3">OpenSale</label>
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" formControlName="rfqtype" id="customRadioInline4" value="RFQ"  class="custom-control-input">
        <label class="custom-control-label" for="customRadioInline4">Request</label>
      </div>
    </div>
    <div class="col-md-12 pt-2">        
        <label class="custom-select-label" >Mode</label>
        <select class="form-control custom-select my-select text-center" formControlName="rfqmodetype"  (change)="selectmodeHandler($event)"s>
          <option value="" [selected]=true>Select mode</option>
          <option value="post">Post New</option>
          <option value="edit">Edit RFQ</option>
          <option value="delete">Delete RFQ</option>
        </select>
        <validation-messages [control]="RfqFormMain.controls.rfqmodetype"></validation-messages>
   </div>
   <div class="col-md-6 pt-2" *ngIf="show_name_email">        
        <label class="custom-select-label" >Name</label>
        <input class="form-control my-select" formControlName="customer_name" placeholder="Enter your name">
        <validation-messages [control]="RfqFormMain.controls.customer_name"></validation-messages>
   </div>
   <div class="col-md-6 pt-2" *ngIf="show_name_email">        
        <label class="custom-select-label" >Email</label>
        <input class="form-control my-select" formControlName="email"  placeholder="Enter your email">
        <validation-messages [control]="RfqFormMain.controls.email"></validation-messages>
   </div>
   <div class="col-md-12 pt-4" *ngIf="show_referencebox">
       <label class="custom-select-label" >Reference no</label>
       <input class="form-control my-select" formControlName="reference_no"  placeholder="Enter your reference no">
       <validation-messages [control]="RfqFormMain.controls.reference_no"></validation-messages>
   </div>
   <div class="col-md-12 pt-4 captcha">
       <re-captcha (resolved)="resolved($event)" required siteKey="6LethuEUAAAAAA-6GTP6QohQ-RjY8DpvcY8wcK9O"  formControlName="recaptchaReactive"></re-captcha>
   </div>
   <div class="col-md-12 text-center rfq-term-div">
   <div class="custom-control custom-checkbox custom-control-inline">
         <input type="checkbox" class="form-control custom-control-input"  formControlName="agree" (change)="toggleEditable($event)"  id="eg">
         <label class="custom-control-label rfq-checkbox" for="eg"> I Agree to the</label> <a href="#" data-toggle="modal" data-target="#policy" class="text-primary rfq-term">Terms & private Policy</a>

    </div>
   </div>
   <div class="col-md-12 pt-4 text-center">
   <button class="btn my-select rfq-btn" type="submit" (click)="rfqdata()" >Submit</button>
   </div>
  </div>
       </form>
    </div>
  </div>
  <div class="col-md-12 text-center ad-hd">
      <h4>World Today</h4>
      <div class="pt-3">
         <video  class="testimonialsvideoframe" controls>
            <source src="assets/images/Advertisementvideo/swarna.mp4" class="testimonialsvideoframe" type="video/mp4">
                    Your browser does not support HTML5 video.
         </video>
         <video  class="testimonialsvideoframe" controls>
            <source src="assets/images/Advertisementvideo/swarna.mp4" class="testimonialsvideoframe"  type="video/mp4">
                     Your browser does not support HTML5 video.                  
         </video>
   </div>
</div>
  </div>
  <div class="right-half pt-1">
   <div class="row">
   <div class="col-md-6 clearance-Sale padding-0">
    <div class="card">
     <div class="card-body">
      <div class="card-title product-title"><h5>Clearance Sale</h5></div>
      <div class="row padding-1">
         <div class="col-md-12">
           <img class="product-img" src="assets/images/product/product8.jpg"> 
            <img class="product-img" src="assets/images/product/product2.jpg"> 
            <img class="product-img" src="assets/images/product/product3.jpg"> 
         </div>
         <div class="col-md-12 pt-3">
           <img class="product-img" src="assets/images/product/product4.jpg">  
           <img class="product-img" src="assets/images/product/product5.png">  
           <img class="product-img" src="assets/images/product/product6.jpg">  
         </div>
         <div class="col-md-12 pt-3">
           <img class="product-img" src="assets/images/product/product7.jpg">  
           <img class="product-img" src="assets/images/product/product1.jpg">  
           <img class="product-img" src="assets/images/product/product9.png">  
         </div>
         <div class="col-md-12 pt-3">
           <img class="product-img" src="assets/images/product/product20.jpg">  
           <img class="product-img" src="assets/images/product/product11.jpg">  
           <img class="product-img" src="assets/images/product/product12.jpg">  
         </div>
         <div class="pt-3 pl-3">
         <a href="#" class="text-primary view_more" >See more</a>
         </div>
      </div>
     </div>
   </div>
  </div>
  <div class="col-md-6 padding-0 buyer_need">
    <div class="card">
     <div class="card-body">
      <div class="card-title product-title"><h5>Buyer Needs</h5></div>
      <div class="row padding-1">
         <div class="col-md-12">
           <img class="product-img" src="assets/images/product/product18.jpg"> 
            <img class="product-img" src="assets/images/product/product12.jpg"> 
            <img class="product-img" src="assets/images/product/product13.jpg"> 
         </div>
         <div class="col-md-12 pt-3">
           <img class="product-img" src="assets/images/product/product14.jpg">  
           <img class="product-img" src="assets/images/product/product15.jpg">  
           <img class="product-img" src="assets/images/product/product22.jpg">  
         </div>
         <div class="col-md-12 pt-3">
           <img class="product-img" src="assets/images/product/product17.jpg">  
           <img class="product-img" src="assets/images/product/product19.jpg">  
           <img class="product-img" src="assets/images/product/product20.jpg">  
         </div>
         <div class="col-md-12 pt-3">
           <img class="product-img" src="assets/images/product/product21.jpg">  
           <img class="product-img" src="assets/images/product/product11.jpg">  
           <img class="product-img" src="assets/images/product/product12.jpg">  
         </div>
         <div class="pt-3 pl-3">
         <a href="#" class="text-primary view_more" >See more</a>
         </div>
      </div>
   </div>
  </div>
</div>
  <div class="col-md-6 pt-3 padding-0">
    <div class="card">
     <div class="card-body">
      <div class="card-title product-title"><h5>Selling tree</h5></div>
      <div class="row padding-1">
         <div class="col-md-12">
           <img class="product-img" src="assets/images/product/product23.jpg"> 
            <img class="product-img" src="assets/images/product/product24.jpg"> 
            <img class="product-img" src="assets/images/product/product25.jpg"> 
         </div>
         <div class="col-md-12 pt-3">
           <img class="product-img" src="assets/images/product/product26.jpg">  
           <img class="product-img" src="assets/images/product/product27.jpg">  
           <img class="product-img" src="assets/images/product/product28.jpg">  
         </div>
         <div class="col-md-12 pt-3">
           <img class="product-img" src="assets/images/product/product29.jpg">  
           <img class="product-img" src="assets/images/product/product35.jpg">  
           <img class="product-img" src="assets/images/product/product31.jpg">  
         </div>
         <div class="col-md-12 pt-3">
           <img class="product-img" src="assets/images/product/product28.jpg">  
           <img class="product-img" src="assets/images/product/product33.jpg">  
           <img class="product-img" src="assets/images/product/product34.jpg">  
         </div>
         <div class="pt-3 pl-3">
         <a href="#" class="text-primary view_more" >See more</a>
         </div>
      </div>
     </div>
   </div>
  </div>
  <div class="col-md-6 pt-3 padding-0">
    <div class="card">
     <div class="card-body">
      <div class="card-title product-title"><h5>Advertisement</h5></div>
      <div class="row padding-1">
         <div class="col-md-12">
           <img class="product-img" src="assets/images/product/product38.jpg"> 
            <img class="product-img" src="assets/images/product/product2.jpg"> 
            <img class="product-img" src="assets/images/product/product3.jpg"> 
         </div>
         <div class="col-md-12 pt-3">
           <img class="product-img" src="assets/images/product/product4.jpg">  
           <img class="product-img" src="assets/images/product/product5.png">  
           <img class="product-img" src="assets/images/product/product6.jpg">  
         </div>
         <div class="col-md-12 pt-3">
           <img class="product-img" src="assets/images/product/product7.jpg">  
           <img class="product-img" src="assets/images/product/product1.jpg">  
           <img class="product-img" src="assets/images/product/product9.png">  
         </div>
         <div class="col-md-12 pt-3">
           <img class="product-img" src="assets/images/product/product20.jpg">  
           <img class="product-img" src="assets/images/product/product11.jpg">  
           <img class="product-img" src="assets/images/product/product12.jpg">  
         </div>
         <div class="pt-3 pl-3">
         <a href="#" class="text-primary view_more" >See more</a>
         </div>
      </div>
     </div>
   </div>
  </div>
</div>
  </div>
</section>
<section id="testim" class="testim">
  <div class="wrap">
    <span id="right-arrow" class="arrow2 right fa fa-chevron-right"></span>
    <span id="left-arrow" class="arrow2 left fa fa-chevron-left "></span>
    <ul id="testim-dots" class="dots">
      <li class="dot active"></li>
      <li class="dot"></li>
      <li class="dot"></li>
      <li class="dot"></li>
      <li class="dot"></li>
    </ul>
    <div id="testim-content" class="cont">
      <div class="active">
      <div class="img">
        <img src="assets/images/testimonial/man1.png" alt="testimonial">
        </div>
        <h2>Mr. Sampath kumar</h2>
        <p>Famposo is the leading platform for global wholesale trade serving millions of buyers and suppliers around the world.</p>
      </div>
      <div>
        <div class="img">
          <img src="assets/images/testimonial/girl2.png" alt="testimonial">
          </div>
          <h2>Miss. Dhanasegary</h2>
          <p>Famposo is the leading platform for global wholesale trade serving millions of buyers and suppliers around the world.</p>
        </div>
        <div>
          <div class="img">
            <img src="assets/images/testimonial/man1.png" alt="testimonial">
            </div>
             <h2>Mr. Sampath kumar</h2>
              <p>Famposo is the leading platform for global wholesale trade serving millions of buyers and suppliers around the world.</p>
          </div>
    <div>
      <div class="img">
        <img src="assets/images/testimonial/girl2.png" alt="testimonial">
        </div>
        <h2>Miss. Dhanasegary</h2>
          <p>Famposo is the leading platform for global wholesale trade serving millions of buyers and suppliers around the world.</p>
      </div>
      <div>
      <div class="img">
      <img src="assets/images/testimonial/man1.png" alt="testimonial">
      </div>
       <h2>Mr. Sampath kumar</h2>
        <p>Famposo is the leading platform for global wholesale trade serving millions of buyers and suppliers around the world.</p>
    </div>
    </div>
  </div>
</section>
<div id="clients">
  <h4 class="text-center" style="margin-top: -60pt;">Our Registered SME's</h4>
  <div class="clients-wrap">
    <ul id="clients-list" class="clearfix">
      <li><img src="assets/images/client/client1.png"></li>
      <li><img src="assets/images/client/client2.png" ></li>
      <li><img src="assets/images/client/client3.png"></li>
      <li><img src="assets/images/client/client4.png"></li>
      <li><img src="assets/images/client/client5.png" ></li>
      <li><img src="assets/images/client/client7.png"></li>
      <li><img src="assets/images/client/client8.png" ></li>
      <li><img src="assets/images/client/client11.png"></li>
      <li><img src="assets/images/client/client12.png" ></li>
      <li><img src="assets/images/client/client13.png"></li>
      <li><img src="assets/images/client/client14.png"></li>
    </ul>
  </div>
</div> 