<footer class="mainfooter" role="contentinfo">
	<div class="footer-middle">
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<!--Column1-->
					<h5>Connect with Us</h5>
					<ul class="social-network social-circle">
						<li>
							<a href="#" class="icoFacebook" title="Facebook">
								<i class="fa fa-facebook"></i>
							</a>
						</li>
						<li>
							<a href="#" class="icoTwitter" title="Twitter">
								<i class="fa fa-twitter"></i>
							</a>
						</li>
						<li>
							<a href="#" class="icoYoutube" title="Youtube">
								<i class="fa fa-youtube"></i>
							</a>
						</li>
						<li>
							<a href="#" class="icoLinkedin" title="Linkedin">
								<i class="fa fa-linkedin"></i>
							</a>
						</li>
					</ul>
				</div>
				<div class="col-md-3 col-sm-6">
					<!--Column2-->
					<div class="footer-pad">
						<h5>Get to Know Us</h5>
						<ul class="list-unstyled">
							<li>
								<a href="#">About Us</a>
							</li>
							<li>
								<a href="#">Contact Us</a>
							</li>
							<li>
								<a href="#">Join Free</a>
							</li>
							<li>
								<a href="#">Login</a>
							</li>
							<li>
								<a href="#">Register</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<!--Column3-->
					<div class="footer-pad">
						<h5>Co-Operate Office</h5>
						<ul class="list-unstyled">
							<li>Ariyankuppam</li>
							<li>Pincode - 605007</li>
							<li>Puducherry - India.</li>
							<li>
								<a href="#" style="color: #17e8e8;">
									<i class="fa fa-envelope"></i> contact@famposo.com
								</a>
							</li>
							<li>
								<a href="#" style="color: #17e8e8;">
									<i class="fa fa-phone"></i> 950 055 9800
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<!--Column4-->
					<div class="footer-pad">
						<h5>Main Office</h5>
						<ul class="list-unstyled">
							<li>12 Marina Boulevard, Tower 3,</li>
							<li>#17-01 Marina Bay Financial Centre,</li>
							<li>Pincode - 018982</li>
							<li>Singapore.</li>
							<li>
								<a href="#" style="color: #17e8e8;">
									<i class="fa fa-envelope"></i> contact@famposo.com
								</a>
							</li>
							<li>
								<a href="#"></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 copy">
					<p class="text-center">&copy; Copyright 2020 - 
						<a href="#">Famposo.com</a>  All rights reserved.
					</p>
				</div>
			</div>
		</div>
	</div>
</footer>